.container-fluid
  .input-group
    %span.input-group-addon
      Image search
    %input.form-control{ :type => "text", :placeholder => "Seach for images based on a tag name..." }
    %span.input-group-btn
      %button.btn.btn-default{ :type => "button" }
        Search